@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;800&display=swap");
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens  */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/profile.css";
body {
  /* color: #2f363e; */
  font-family: "Heebo", sans-serif;
  height: 1000vh;
  background-color: #e8e0d5;
  color: #454c5c;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}

/* 사용된 CSS hack 에 대해서 이렇게 이해했습니다.

1. body 100% 안에 있는 status-bar 전체를 우선 화면에서 가운데 위치하도록
justify-content:center; 를 적용합니다. 그러면 전체 요소들이 모두 가운데 위치하게 됩니다.

2. status-bar__column에 각각 33% 값을 주어 status-bar를 3등분 합니다.
그러면 스크린을 줄이거나 늘이더라도 status-bar__column들은 그 안에서 왼쪽 정렬로 위치하게 됩니다.

3. 1번째 column은 가장 왼쪽(기본값), 2번째는 가운데(center) 그리고 3번째는 가장 끝(flex-end)으로 위치시키면 시계는 가운데에 있고 나머지 요소는 가장자리에 위치하게 됩니다. */
