.recommended-friends {
  border-bottom: var(--main-border);
  border-top: var(--main-border);
  padding: 25px 0;
  margin: 25px 0;
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--gray-color);
}
.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  font-size: 18px;
  color: var(--gray-color);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}
.open-post:hover {
  box-shadow: rgba(62, 93, 50, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.open-chat__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  margin-top: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--gray-color);
}
.open-post__member-status {
  color: #ffb0bc;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  /* will-change는 브라우저에게 어떠한 변화가 있는지 미리 알려주는 것
    브라우저가 컴퓨터의 그래픽 카드를 이용해 애니메이션을 가속화 할 수 있다. */
  animation: heartBeat 1s linear infinite;
}
