.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  font-size: 25px;
}
.profile__image img {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 10px;
}
