.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: 600;
}
.badge__sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -3px;
}
